<meta charset="utf-8">
<title>{{  title?title:''}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- Loading Bootstrap -->
<link rel="shortcut icon" href="{{ __PUBLIC__ }}/assets/image/favicon.ico" />


<script type="text/javascript">

    var require = {

        config:  {% autoescape 'json' %}  {{  config | json_encode }} {% endautoescape %}
    };


</script>